
body {
    margin: 0;
    background-color: ghostwhite;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;

}

.logo {
    width: 100px;
    padding: .8em 1.2em;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 25px;
    margin-top: 45%;
    padding: .5em ;
}

.home {
    color: teal;
}

.border {
    margin-top: -10px;
    width: 100%;
    height: 200px;
    
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top: 50px;
}

.search-box {
    margin-top: 30px;
    text-align: center;
}

#search-cars {
    box-sizing: border-box;
    width: 250px;
    height: 25px;
    background-color: #CCCCFF;
    color: #6699FF;
    border: none;
    border-radius: 5px;
    text-align: center;
}

#filter {
    box-sizing: border-box;
    text-align: center;
    width: 187px;
    height: 25px;
    background-color: #CCCCFF;
    color: #6699FF;
    border: none;
    border-radius: 5px;
    margin: 2px;
}

.button1 {
    background-color: #CCCCFF;
    border:  #CCCCFF;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    color: #6699FF;
}

*{
	margin:0;
	padding:0;
}

.main{
	height: 30vh;
	width: 100%;
	background-image: url(../bg2.png);
	background-size: cover;
	background-position: center;
	position: relative;
    overflow-x: hidden;
    margin-top: -40px;
    border-radius: 30px 10px 30px 10px;
}

.road{
	height: 50px;
	width: 500%;
	display: block;
	background-image: url(../road.jpg);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    z-index: 1;
    background-repeat: repeat-x;
	animation: road 5s linear infinite;
}
@keyframes road
{
	100%{
		transform: translateX(-1400px);
	}

}

.tree{
	height: 250px;
	width: 500%;
    background-image: url(../cityaa.png);
	position: absolute;
	bottom: -110px;
	left: 0;
	right: 0;
	display: block;
	z-index: 1;
	background-repeat: repeat-x;
	animation: tree 20s linear infinite; 
}
@keyframes tree
{
	100%{
		transform: translateX(-1400px);
	}
}
.car{
    width: 200px;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	position: absolute;
	z-index: 2;
}
.car img{
	width: 100%;
    animation: car 1s linear infinite;
}
@keyframes car{
	100%{
		transform: translateY(-1px);
	}
	50%{
		transform: translateY(1px);
	}
	0%{
		transform: translateY(-1px);
	}
}
.wheel{
	left: 50%;
	bottom: 47px;
	transform: translateX(-50%);
	position: absolute;
	z-index: 2
}
.wheel img{
	width: 32px;
	height: 32px;
	animation: wheel 1s linear infinite;
}
@keyframes wheel{
	100%{
		transform: rotate(360deg);
	}
}
.back-wheel{
	left: -81px;
	position: absolute;
}
.front-wheel{
	left: 43px;
	position: absolute;
}

.main h1 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-family: Arson;
    margin-top: 5px;
    display: block;

}

span::before { 

    content: "Buy Your Dream Car" url(../buy.png); 

    animation: animate infinite 4s; 



    margin: 0;

} 



@keyframes animate { 



    0% { 

   

    } 



    50% { 

        content: "Sell Your Car" url(../sell.png); 

    } 



    75% { 

        content: "Swap Your Car" url(../swap.png); 

    } 

} 

.blue-container2 {
    background-color: #9999ff;
    margin-top: 25px;
    height: 240px;
    padding-left: 10px;
}

.blue-container {
    background-color: #9999ff;
    margin-top: 10px;

}

.quickcars-offer {
    color: red;
    text-align: left;
    font-size: 22px;
    margin-left: 3px;
}

.quickcars-offer img {
    margin-top: 5px;
}

.container p {
    text-align: left;
    margin-left: 2px;
}

.logos {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.searcher {
   
}

.cars {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
    width: 280px;
    height: 300px;
    margin-left: 50px;
}

.cars p {
    margin-top: 10px;
    text-align: center;
    margin-left: 105px;
}

.button {
    background-color: red;
    width: 80px;
    color: #fff;
    text-align: center;
}

.button3 {
    padding-left: 40px;
}

.button2 {
    padding-left: 10px;
}


.see-all p {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.white-container {
    background-color: white;
    height: 920px;
    padding-left: 10px;
}

.white-container h1 {
    color: tomato;

}

.box{
    width: 100%;
  
}

.box h1{
    color: black;
    font-size: 20px;
    padding-top: 35px;
    padding-left: 7px;
    margin-top: 20px;
    text-align: left;
}

.box p{
    color: darkgrey;
    font-size: 10px;
    padding: 15px;
    text-decoration: none;
    font-family: Arial Unicode MS;
    text-align: left;

   
}

.box img{
    width: 210px;
    height: 220px;
    color: darkgrey;
    border-radius: 30px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    float: right;
    margin-right: 15px;
    transform: skewY(-7deg);
    margin-bottom: -40px;
    
    
}

.box2{
    width: 100%;
    height: 350px;
  
}

.box2 h1{
    color: black;
    font-size: 20px;
    padding-top: 115px;
    padding-right: 20px;
    margin-top: 20px;
    text-align: right;
}

.box2 img{
    width: 210px;
    height: 220px;
    color: darkgrey;
    border-radius: 30px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    float: left;
    margin-left: 15px;
    transform: skewY(7deg);
    margin-top: 80px;
    
    
}

.box3{
    width: 100%;
  
}

.box3 h1{
    color: black;
    font-size: 20px;
    padding-top: 45px;
    padding-left: 7px;
    margin-top: 20px;
    text-align: left;
}

.box3 img{
    width: 210px;
    height: 220px;
    color: darkgrey;
    border-radius: 30px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    float: right;
    margin-right: 15px;
    transform: skewY(-7deg);
    margin-bottom: -40px;
    
}

.blue-container h1 {
    text-align: left;
    font-size: 20px;
    margin: 5px;
    color: tomato;
    padding-left: 10px;
}

.blue-container p {
    padding-left: 10px;
}

.blue-container2 h1 {
    text-align: left;
    font-size: 30px;
    margin: 10px;
    color: tomato;
}

.blue-container2 h4 {
    text-align: left;
    margin: 5px;
    color: teal;
    padding: 5px;
}

.cars {
    float: left;
}

.white-container2 h1{
    color: tomato;
    padding-left: 10px;
 
}

.white-container2 img {
    border-radius: 50%;
}

.white-container2 {
    text-align: center;
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
}

.containerx {
    float: left;
    text-align: center;
    padding-left: 50px;
}

figcaption {
    color: teal;
}

.footer-container {
    background-color:#CCCCFF;
    text-align: center;
    border-top-right-radius: 40px;
    padding: 3em 0;
    transform: skewY(2deg);
}

.footer-container .footer {
    transform: skewY(-2deg);
}

.footer-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #CCCCFF;
    position: absolute;
    top: -39px;
    left: 0;
    z-index: -2;
}

.footer-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: ghostwhite;
    position: absolute;
    top: -80px;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

.footer-container p {
    text-align: center;
    color: #fff;
}

.footer-container img {
    text-align: center;
    margin-top: 10px;
}


.clr {
    clear: both;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36, 41, 44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(49, 55, 59);
}

nav ul li a:hover {
    background-color: rgb(56, 84, 102);
}

.cancel-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.cancel-btn img {
    width: 30px;
    cursor: pointer;
}



@media only screen and (min-width: 715px) {
    .container {
        width: 92%;
        margin: 0 auto;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    logo {
        width: 120px;
        float: left;
    }

    .logos {
        float: left;
        margin-left: 15px;
        margin-top: 10px;
        padding-left: 60px;
    }
    
    #nav {
        float: right;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 40px;
    }

    nav ul li {
        float: left;
    }
    
    nav ul li a {
        color: black;
        background: inherit;
        text-align: right;
        padding: 1em;
        text-decoration: overline;
    }

    nav ul li a:hover {
        background-color: inherit;
        color: tomato;
    }

    .blue-container {
        margin-top: 20px;
        width: 100%;
        height: 1200px;
    }

    .blue-container2 {
        background-color: #9999ff;
        margin-top: 25px;
        height: 240px;
        padding-left: 10px;
    }

    .blue-container h1 {
        font-size: 25px;
   
    }

    .white-container h1 {
        font-size: 25px;
        padding-left: 50px;
   
    }

    .white-container2 h1 {
        font-size: 40px;
        text-align: center;
   
    }

    .white-container p {
        padding-left: 50px;
   
    }

    .white-container2 {
        padding: 10px;
        width: 100%;
        height: 420px;
    }
    
    .containerx {
        padding: 10px;
        float: left;
        text-align: center;
        padding-left: 35px;
    }

    .main h1 {
        font-size: 20px;
        color: #fff;
        text-align: center;
        padding: 5px;
        font-family: Arson;
        margin-top: 5px;
        display: block;
    
    }
    
    span::before { 
    
        content: "Buy Your Dream Car" url(../buy.png); 
    
        animation: animate infinite 4s; 
    
    
    
        margin: 0;
    
    } 
    
    
    
    @keyframes animate { 
    
    
    
        0% { 
    
    
        } 
    
    
    
        50% { 
    
            content: "Sell Your Car"url(../sell.png); 
    
        } 
    
    
    
        75% { 
    
            content: "Swap Your Car" url(../swap.png); 
    
        } 
    
    } 

    *{
        margin:0;
        padding:0;
    }
    
    .main{
        height: 60vh;
        width: 100%;
        background-image: url(../bg.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        overflow-x: hidden;
        margin-bottom: 90px;
    }
    
    .road{
        height: 130px;
        width: 500%;
        display: block;
        background-image: url(../road.jpg);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        animation: road 5s linear infinite;
    }
    @keyframes road
    {
        100%{
            transform: translateX(-3400px);
        }
    
    }
    
    .tree{
        height: 250px;
        width: 500%;
        background-image: url(../cityaa.png);
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        display: block;
        z-index: 1;
        background-repeat: repeat-x;
        animation: tree 20s linear infinite; 
    }

    @keyframes tree
    {
        100%{
            transform: translateX(-1400px);
        }
    }
    .car{
        width: 250px;
        left: 50%;
        bottom: 80px;
        transform: translateX(-50%);
        position: absolute;
        z-index: 2;
    }
    .car img{
        width: 100%;
        animation: car 1s linear infinite;
    }
    @keyframes car{
        100%{
            transform: translateY(-1px);
        }
        50%{
            transform: translateY(1px);
        }
        0%{
            transform: translateY(-1px);
        }
    }
    .wheel{
        left: 50%;
        bottom: 113px;
        transform: translateX(-50%);
        position: absolute;
        z-index: 2
    }
    .wheel img{
        width: 46px;
        height: 46px;
        animation: wheel 1s linear infinite;
    }
    @keyframes wheel{
        100%{
            transform: rotate(360deg);
        }
    }
    .back-wheel{
        left: -105px;
        position: absolute;
    }
    .front-wheel{
        left: 52px;
        position: absolute;
    }
    
    .search-box {
        margin-top: 115px;
}

.white-container {
    width: 100%;
    height: 1700px;
}

.box{
    width: 100%;
    height: 500px;
  
}

.box h1{
    color: black;
    font-size: 40px;
    direction: ltr;
    padding: 50px;
}

.box p{
    color: darkgrey;
    font-size: 10px;
    padding: 15px;
    text-decoration: none;
    font-family: Arial Unicode MS;
    text-align: left;

   
}

.box img{
    width: 450px;
    height: 420px;
    color: darkgrey;
    border-radius: 30px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    float: right;
    margin-right: 15px;
    transform: skewY(-7deg);
    margin-bottom: -40px;
}

.button3 {
    position: absolute;
    margin-left: 340px;
}

.button2 {
    position: absolute;
    margin-left: 50px;
}

.box2{
    width: 100%;
    height: 500px;
    margin-bottom: 120px;
}

.box2 h1{
    color: black;
    font-size: 40px;
    direction: rtl;
    padding: 50px;
    padding-top: 120px;
   
}


.box2 img{
    width: 450px;
    height: 420px;
    color: darkgrey;
    border-radius: 30px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    float: left;
    margin-left: 15px;
    transform: skewY(7deg);
    margin-top: 80px;
}

footer-container {
    background-color:#CCCCFF;
    text-align: center;
}

.footer {
    float: left;
    background-color:#CCCCFF;
    width: 100%;
}

.footer-container p {
    text-align: center;
    color: #fff;
}

.footer-container img {
    text-align: center;
    margin-top: 0;
}


}



@media only screen and (min-width: 1024px) {
    .container {
        width: 92%;
        margin: 0 auto;
    }
    
    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .logo {
        padding: 2em;
        padding-bottom: 50px;
        padding-right: -20px;
    }

    .logos {
        float: left;
        margin-left: 15px;
        margin-top: 10px;
        padding-left: 130px;
    }

    .hide-desktop {
        display: none;
    }

    .blue-container {
        margin-top: 30px;
    }

    .search-box {
        margin-top: 260px;
    }

    .blue-container {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }

    .blue-container2 {
        background-color: #9999ff;
        margin-top: 25px;
        height: 240px;
        padding-left: 10px;
    }

    .blue-container h1 {
        font-size: 40px;
   
    }

    .white-container h1 {
        font-size: 40px;
        padding-left: 50px;
   
    }

    .white-container2 h1 {
        font-size: 40px;
        text-align: center;
   
    }

    .white-container p {
        padding-left: 50px;
   
    }

    .white-container2 {
        padding: 10px;
        width: 100%;
        height: 420px;
    }
    
    .containerx {
        padding: 10px;
        float: left;
        text-align: center;
        padding-left: 75px;
    }

    .main h1 {
        font-size: 30px;
        color: #fff;
        text-align: center;
        padding: 5px;
        font-family: Arson;
        margin-top: 5px;
        display: block;
    
    }
    
    span::before { 
    
        content: "Buy Your Dream Car" url(../buy.png); 
    
        animation: animate infinite 4s; 
    
    
    
        margin: 0;
    
    } 
    
    
    
    @keyframes animate { 
    
    
    
        0% { 
    
    
        } 
    
    
    
        50% { 
    
            content: "Sell Your Car"url(../sell.png); 
    
        } 
    
    
    
        75% { 
    
            content: "Swap Your Car" url(../swap.png); 
    
        } 
    
    } 


    *{
        margin:0;
        padding:0;
    }
    
    .main{
        height: 80vh;
        width: 100%;
        background-image: url(../bg.jpg);
        background-size: cover;
        background-position: bottom;
        position: relative;
        overflow-x: hidden;
        margin-bottom: 90px;
    }
    
    .road{
        height: 190px;
        width: 500%;
        display: block;
        background-image: url(../road.jpg);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        animation: road 5s linear infinite;
    }
    @keyframes road
    {
        100%{
            transform: translateX(-3400px);
        }
    
    }
    
    .tree{
        height: 190px;
        width: 500%;
        background-image: url(../city1.png);
        position: absolute;
        bottom: 190px;
        left: 0;
        right: 0;
        display: block;
        z-index: 1;
        background-repeat: repeat-x;
        animation: tree 20s linear infinite; 
    }
    @keyframes tree
    {
        100%{
            transform: translateX(-1400px);
        }
    }
    .car{
        width: 400px;
        left: 50%;
        bottom: 125px;
        transform: translateX(-50%);
        position: absolute;
        z-index: 2;
    }
    .car img{
        width: 100%;
        animation: car 1s linear infinite;
    }
    @keyframes car{
        100%{
            transform: translateY(-1px);
        }
        50%{
            transform: translateY(1px);
        }
        0%{
            transform: translateY(-1px);
        }
    }
    .wheel{
        left: 50%;
        bottom: 178px;
        transform: translateX(-50%);
        position: absolute;
        z-index: 2
    }
    .wheel img{
        width: 72px;
        height: 72px;
        animation: wheel 1s linear infinite;
    }
    @keyframes wheel{
        100%{
            transform: rotate(360deg);
        }
    }
    .back-wheel{
        left: -167px;
        position: absolute;
    }
    .front-wheel{
        left: 82px;
        position: absolute;
    }
    
    .search-box {
        margin-top: 265px;
}

.white-container {
    width: 100%;
    height: 1750px;
}

.box{
    width: 100%;
    height: 500px;
  
}

.box h1{
    color: black;
    font-size: 60px;
    direction: ltr;
    padding: 50px;
}

.box p{
    color: darkgrey;
    font-size: 10px;
    padding: 15px;
    text-decoration: none;
    font-family: Arial Unicode MS;
    text-align: left;

   
}

.box img{
    width: 650px;
    height: 420px;
    color: darkgrey;
    border-radius: 30px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    float: right;
    margin-right: 15px;
    transform: skewY(-7deg);
    margin-bottom: -40px;
}

.button3 {
    position: absolute;
    margin-left: 420px;
}

.button2 {
    position: absolute;
    margin-left: 50px;
}

.box2{
    width: 100%;
    height: 500px;
    margin-bottom: 120px;
}

.box2 h1{
    color: black;
    font-size: 60px;
    direction: rtl;
    padding: 50px;
    padding-top: 120px;
   
}


.box2 img{
    width: 650px;
    height: 420px;
    color: darkgrey;
    border-radius: 30px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    float: left;
    margin-left: 15px;
    transform: skewY(7deg);
    margin-top: 80px;
}

footer-container {
    background-color:#CCCCFF;
    text-align: center;
}

.footer {
    float: left;
    background-color:#CCCCFF;
    width: 100%;
}

.footer-container p {
    text-align: center;
    color: #fff;
}

.footer-container img {
    text-align: center;
    margin-top: 10px;
}


}

@media only screen and (max-width: 786px- 375px) {
    *{
        margin:0;
        padding:0;
    }
    
    .main{
        height: 40vh;
        width: 100%;
        background-image: url(../bg2.png);
        background-size: cover;
        background-position: center;
        position: relative;
        overflow-x: hidden;
        margin-top: -40px;
        border-radius: 30px 10px 30px 10px;
    }
    
    .road{
        height: 50px;
        width: 500%;
        display: block;
        background-image: url(../road.jpg);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-repeat: repeat-x;
        animation: road 5s linear infinite;
    }
    @keyframes road
    {
        100%{
            transform: translateX(-1400px);
        }
    
    }
    
    .tree{
        height: 250px;
        width: 500%;
        background-image: url(../cityaa.png);
        position: absolute;
        bottom: -110px;
        left: 0;
        right: 0;
        display: block;
        z-index: 1;
        background-repeat: repeat-x;
        animation: tree 20s linear infinite; 
    }
    @keyframes tree
    {
        100%{
            transform: translateX(-1400px);
        }
    }
    .car{
        width: 200px;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        position: absolute;
        z-index: 2;
    }
    .car img{
        width: 100%;
        animation: car 1s linear infinite;
    }
    @keyframes car{
        100%{
            transform: translateY(-1px);
        }
        50%{
            transform: translateY(1px);
        }
        0%{
            transform: translateY(-1px);
        }
    }
    .wheel{
        left: 50%;
        bottom: 47px;
        transform: translateX(-50%);
        position: absolute;
        z-index: 2
    }
    .wheel img{
        width: 32px;
        height: 32px;
        animation: wheel 1s linear infinite;
    }
    @keyframes wheel{
        100%{
            transform: rotate(360deg);
        }
    }
    .back-wheel{
        left: -81px;
        position: absolute;
    }
    .front-wheel{
        left: 43px;
        position: absolute;
    }
    
    .main h1 {
        font-size: 20px;
        color: #fff;
        text-align: center;
        padding: 5px;
        font-family: Arson;
        margin-top: 5px;
        display: block;
    
    }
    
    span::before { 
    
        content: "Buy Your Dream Car" url(../buy.png); 
    
        animation: animate infinite 4s; 
    
    
    
        margin: 0;
    
    } 
    
    
    
    @keyframes animate { 
    
    
    
        0% { 
    
       
    
        } 
    
    
    
        50% { 
    
            content: "Sell Your Car" url(../sell.png); 
    
        } 
    
    
    
        75% { 
    
            content: "Swap Your Car" url(../swap.png); 
    
        } 
    
    } 
